.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
  background-color: #cc0000;
  transform-origin: left;
  width: 100%;
  overflow-x: hidden;
}
// red
// #cc0000
.main {
  position: relative;
  h1 {
    text-align: center;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  img {
    width: 100%;
    margin-top: 90px;
    height: auto;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    inset: 0;
    opacity: 1;
    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 3.75rem;
    color: #fff;
  }
}
.description {
  text-align: center;
  margin-top: 100px;

  .text-container {
    animation: text linear forwards;
    animation-timeline: view();
    animation-range: 30vh 100vh;
    padding: 50px 0 100px 0;
    height: auto;
    color: #fff;
    p {
      margin: auto;
      width: 50%;
      font-size: 1.375rem;
      font-family: "text";
    }
  }
}
.items-container {
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 0vh 75vh;
  // animation-range-start: cover;
  // animation-range-end: contain;
  width: auto;
  height: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#Outlaws {
  position: relative;
  width: 100%;
  background: url("../assets/images/footer-bg.jpg");
  h1 {
    color: #fff;
    margin: 0;
    padding: 110px 0px 60px 0px;
    text-align: center;
    font-size: 6.875rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &::before {
    width: 100%;
    height: 100px;
    background: url("../assets/images/footer-top.png");
    display: block;
  }
}
#ESRB {
  background: url("../assets/images/footer-stars.png");
  position: relative;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  .outNow {
    margin: auto;
    text-align: center;
    p {
      font-weight: bold;
      color: #fff;
      font-size: 3.125rem;
      margin: 40px 0 20px 0;
    }
  }
  .esrb-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 90px 1fr;
    padding: 20px;
    background-color: #000;
    margin: auto;
    border: 1px solid rgb(50, 50, 50);
    width: fit-content;
    border-radius: 5px;
    object {
      width: 75px;
    }
    .text-container {
      display: grid;
      align-content: center;
      grid-gap: 10px;
      p {
        width: 130px;
        height: 50px;
        text-align: left;
        color: #fff;
        font-size: 0.625rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.25;
      }
    }
  }
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  padding: 80px 0 80px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 300px;
  .list,
  .items,
  .icons {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }
  .list {
    width: 100%;
    justify-content: space-between;
    .items {
      flex-basis: 50%;
      justify-content: start;
      flex-wrap: wrap;
      grid-gap: 30px;
      a {
        color: #fff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  .list.first {
    .items .careers {
      display: flex;
      fa-icon {
        color: #fff;
        font-size: .75rem;
        padding-left: 8px;
        align-self: flex-start;
      }
    }
    a {
      font-size: 1.25rem;
      &:hover {
        color: #fcaf17;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      font-size: .9rem;
      padding: 10px;
      border: none;
      grid-gap: 10px;
      color: #fff;
      background-color: inherit;
      font-weight: bold;
      cursor: pointer;
      .globe {
        font-size: 1.125rem;
      }

      .chevron {
      }
    }
  }
  .list.second {
    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: .9rem;
      align-items: start;
      a {
        opacity: 0.65;
        line-height: 1.5;
        &:hover {
          color: #fcaf17;
          opacity: 1 !important;
        }
      }
    }
    .icons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      margin-bottom: auto;
      fa-icon {
        display: flex;
        color: #fff;
        font-size: 1.25rem;
        width: 35px !important;
        height: 35px !important;
        padding: 5px;

        justify-content: center;
        align-items: center;
        opacity: 0.8;
        background-color: inherit;
        border-radius: 100%;

        &:hover {
          background-color: hsla(0, 0%, 100%, 0.15);
        }
      }
    }
  }
  .list.third {
    font-size: .9rem;
    font-weight: bold;
    grid-gap: 25px;
    .items a {
      cursor: default;
    }
    .left {
      margin-right: auto;
    }
    .right {
      margin-left: auto;
    }
  }
}

#whyBuy {
  .title {
    z-index: 10;
  }
  .img-container {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    img {
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      background-repeat: no-repeat;
      z-index: 1;
      margin-top: -20px;
      width: 100%;
      height: 100px;
      background: url("../assets/images/footer-top.png");
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100px;
      height: 100%;
      background-repeat: no-repeat;
      z-index: 1;
      transform: rotate(180deg);
      margin-bottom: -20px;
      width: 100%;
      height: 100px;
      background: url("../assets/images/footer-top.png");
      display: block;
    }
  }
  .text {
    position: absolute;
    top: 25%;
    width: 100%;
    p {
      text-align: center;
      width: 30%;
      margin: auto;
      font-family: "text";
      font-size: 1.75rem;
      color: #fff;
    }
  }
}

@keyframes header-image-animation {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}

@keyframes fade-in {
  25% {
    scale: 0.8;
    opacity: 0;
  }
  85%,
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes text {
  25% {
    background-color: none;
  }
  85%,
  100% {
    background-color: #000;
  }
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@media only screen and (max-width: 1440px) {
  .description {
    margin-top: -14rem;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    img {
      animation: none !important;
      margin-top: 70px;
    }
  }
  .description {
    margin-top: -22rem;
  }
  .list.second {
    margin: 2rem 0;
    .icons {
      direction: rtl;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }

  #whyBuy {
    .img-container {
      img {
        padding: 50px 0;
      }
      .text {
        p {
          width: 80%;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .description {
    margin-top: -30rem;
    p {
      width: 90% !important;
    }
  }
  .items-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px !important;
    margin-top: 2rem;
    app-item::ng-deep {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      .item {
        margin-bottom: 5rem;
        .image-container {
          .main-image {
            height: 18rem !important;
          }
          .borders {
            height: 18.5rem !important;
          }
        }
        p {
          width: 100%;
        }
      }
    }
  }
  #top3 {
    app-gang-member::ng-deep {
      .content {
        flex-direction: column !important;
        padding: 0;
        margin-bottom: 3rem;
        .image-container {
          order: 1;
        }
        .text {
          order: 2;
          width: 90%;
          padding: 0;
          margin: auto;
          margin-top: 2rem;
        }
      }
    }
  }
  .list.second {
    margin: 2rem 0;
    .icons {
      direction: rtl;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  .list.third {
    padding: 1rem 0 1rem 0;
  }
  #whyBuy {
    .img-container {
      img {
        padding: 60px 0;
      }
      .text {
        p {
          margin-top: 6rem;
          width: 90%;
          font-size: 1.125rem;
        }
      }
    }
  }
  #info {
    width: 95%;
    .list.first {
      .items {
        flex-basis: 100%;
        grid-gap: 1rem;
        a {
          font-size: 1rem !important;
        }
      }
      button {
        align-items: center;
      }
    }
    .list.second {
      .items {
        flex-wrap: wrap;
        width: 100%;
      }
    }
    .list.third {
      flex-direction: column;
      .items.l {
        .left {
          margin: 0;
        }
      }
      .items.r {
        .right {
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .items-container {
    app-item::ng-deep {
      .item {
        .image-container {
          .main-image {
            height: 16rem !important;
          }
          .borders {
            height: 16.5rem !important;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .description{
    margin-top: -38rem;
  }
  .items-container {
    grid-template-columns: repeat(1, 1fr);
    app-item::ng-deep {
      flex-direction: column !important;
    }
  }
  #top3 {
    app-gang-member::ng-deep {
      .content {
        .image-container {
          img {
            max-height: 20rem;
          }
        }
      }
    }
  }
  #Outlaws {
    h1 {
      font-size: 4rem;
    }
  }
  #whyBuy {
    .img-container {
      &::after {
        content: none;
      }
      img {
        padding: 4rem 0 2rem 0;
      }
      .text {
        p {
          margin-top: 12rem;
          width: 90%;
          font-size: 14px;
        }
      }
    }
  }
  #info {
    .list.first {
      flex-direction: column;
      .items {
        justify-content: center;
      }
      button {
        margin-top: 1rem;
      }
    }
    .list.second {
      flex-direction: column;

      .items {
        margin: 0;
        text-align: center;
        grid-gap: 1rem;
        justify-content: center;
      }
      .icons {
        margin-top: 1rem;
        grid-template-columns: repeat(5, 1fr) !important;
      }
    }
    .list.third {
      flex-direction: column;
      .items.l {
        .left {
          margin: 0;
        }
      }
      .items.r {
        .right {
          margin: 0;
        }
      }
    }
  }
}
